$greyNav: #090909;
$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$spanColor: #b3b3b3;



.main {
  width: 100%;
  overflow-y: scroll;
  .mainContent {
    color: #fff;
    padding: 1.5rem 2rem;
    margin-top: 56px;
    h1 {
      letter-spacing: 0px;
      font-size: 1.65rem;
      font-weight: 900;
    }
  }
}

section {
  width: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

section + section{
  margin-top: 36px;
}



section .action-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  button {
    font-family: circularbold;
    font-size: 12px;
    letter-spacing: 2px;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
    span {
      color: $spanColor;
    }
  }
}

section .headerSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

section .headerSection .subText {
  font-size: 0.9rem;
  font-family: circular;
  letter-spacing: 0px;
}

.cardsWrap {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
}